.section-title Welcome to my CV
    button.disc
        i.icon_youtube
        span.button-text YT

    h1 Antonio Radosav
    h2 Junior Web Developer

    h3 About me
    .description
        p I transformed my passion into creation. My amazing UI/UX transfers the digital information to every human finger making users eyes to smile. I love to deliver tickets before deadline using HTML5, CSS3 and JS, applying the key factor: good communication. Let’s talk!   ▓▒░(°◡°)░▒▓ 

    button.pill
        i.icon_download
        span.button-text Download my CV